*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}
h1, h2, h3, h4, a {
    color: #232323;
}
p {
    color: #9194a1;
}
/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    max-width: 80rem;
    margin: auto;
}
nav > a {
    z-index: 1;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #636363;
    transition: .2s;
}
nav ul li a:hover {
    color: #232323;
}
.login {
    color: #fff;
    background-color: #f50000;
    padding: 0.6rem 1.5rem;
    border-radius: 0.3rem;
    transition: all .2s ease-in-out;
}
.login:hover {
    color: #fff;
    background-color: #e70101;
}
.burgerMenu {
    display: none;
}
.social-media {
    display: none;
}
/* Header */
header section {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 80rem;
    margin: auto;
    padding: 3rem 5rem;
    min-height: 35rem;
}
/* left content */
section .brand-content {
    display: grid;
    gap: 2rem;
}
section .brand-content h1 {
    font-size: 3rem;
    font-weight: 500;
}
section .brand-content p {
    line-height: 1.6;
}
section .brand-content .btns {
    display: flex;
    gap: 1rem;
}
section .brand-content .btns a, .features .features-content a, .download-browser > div > a, .moreInfoBtn a {
    text-decoration: none;
    background-color: #5368df;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: .3rem;
    box-shadow: 0 .3rem .1rem #e6e6e6a4;
    transition: .2s;
}
section .brand-content .btns a:hover, .features .features-content a:hover, .download-browser > div > a:hover, .moreInfoBtn a:hover {
    background-color: #4459cf;
}
section .brand-content .btns a:last-child{
    background-color: #f8f8f8;
    color: #232323;
}
section .brand-content .btns a:last-child:hover {
    background-color: #f5f5f5;
}
/* right content */
section .header-img img {
    margin-right: -5rem;
}
section .header-img::before {
    content: '';
    background-color: #4459cf;
    width: 35rem;
    height: 20rem;
    position: absolute;
    border-radius: 10rem 0 0 10rem;
    right: 0;
    top: 20rem;
    z-index: -1;
}
/* Main */
main {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    position: relative;
}
main .features-sec{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    min-height: 43rem;
}
.main-header {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    padding: 1rem;
}
.main-header h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.main-header p {
    line-height: 1.6;
}
article .article-btn{
    max-width: 45rem;
    margin: auto;
    text-align: center;
    border-bottom: solid 1px #c4c4c473;
    display: flex;
}
article .article-btn button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: #9194a1;
}
.focusBtn {
    color: #232323 !important;
    border-bottom: solid 3px #e75d01 !important;
}
.features {
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding: 4rem 6rem;
    gap: 5rem;
    min-height: 26rem;
}
.features .features-content.hidden {
    display: none;
}
.features .features-img::before {
    content: '';
    background-color: #4459cf;
    width: 35rem;
    height: 20rem;
    position: absolute;
    border-radius: 0 10rem 10rem 0;
    left: 0;
    top: 30rem;
    z-index: -1;
}
.features .orangeBackgound.features-img::before {
    background-color: #e75d01 !important;
}
.features .cyanBackgound.features-img::before {
    background-color: #009ac0 !important;
}
.features .features-content {
    display: grid;
    gap: 2rem;
}
.features .features-content h3 {
    font-size: 1.8rem;
    font-weight: 500;
}
.features .features-content p {
    line-height: 1.6;
}
.features .features-content a {
    max-width: 10rem;
    text-align: center;
}
.features-cta.orange {
    background-color: #e75d01 !important;
    transition: .2s;
}
.features-cta.orange:hover {
    background-color: #db5800 !important;
}
.features-cta.cyan {
    background-color: #009ac0 !important;
    transition: .2s;
}
.features-cta.cyan:hover {
    background-color: #008bad !important;
}
/* Download section */
.download {
    padding: 1rem;
}
.download-browser {
    max-width: 65rem;
    margin: auto;
    display: flex;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}
.download-browser > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 .5rem .8rem #4459cf28;
    border-radius: .5rem;
    padding: 2rem 0 1.5rem;
}
.download-browser > div > p {
    margin-bottom: 1.5rem;
}
.download-browser > div:nth-child(2) {
    position: relative;
    top: 3rem;
}
.download-browser > div:last-child {
    position: relative;
    top: 6rem;
}
/* FAQ */
.faq-sec {
    margin-top: 7rem;
    padding: 1rem;
}
.faq {
    max-width: 40rem;
    margin: 4rem auto;
}
.faq .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: solid 1px #c4c4c473;
    user-select: none;
    cursor: pointer;
}
.question:first-child {
    border-top: solid 1px #c4c4c473;
}
.faq .question h3 {
    color: #5c5c5c;
    font-weight: 500;
    text-align: left;
}
.arrows.open{
    transform: rotate(180deg);
}
.answer{
    max-height: 0;
    overflow: hidden;
}
.answer p {
    padding: 1rem;
}
.active {
    display: block;
    text-align: left;
    transition: max-height .3s ease-in-out;
}
.more-info {
    max-width: 1rem;
    margin: auto;
}
.moreInfoBtn {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Footer */
footer {
    background-color: #4459cf;
}
footer .sign-up {
    padding: 5rem 1rem;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    position: relative;
}
footer .sign-up p {
    color: #f8f8f8;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
footer .sign-up h2 {
    color: #f8f8f8;
    font-weight: 500;
    font-size: 2rem;
    margin: 1.5rem 0
}
footer .sign-up form {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}
footer .sign-up form input, footer .sign-up form button {
    padding: 1rem;
    border-radius: .3rem;
    border: none;
}
.errMsg {
    color: #f44336;
    position: absolute;
    left: 1rem;
    bottom: 3.3rem;
}
.sign-up form button {
    background-color: #f50000;
    color: #fff;
    font-weight: 600;
    letter-spacing: .05rem;
    cursor: pointer;
    transition: .2s;
}
.sign-up form button:hover {
    background-color: #e70101;
}
.footer {
    background-color: #252b46;
}
.footer .fotter-links {
    padding: 1.5rem 1rem;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.footer .fotter-links ul {
    display: flex;
    align-items: center;
    gap: 4.5rem;
    list-style: none;
}
.footer .fotter-links ul li a {
    color: #c5c5c5;
    text-decoration: none;
    text-transform: uppercase;
}
.social-Media-links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
